#header {
    text-align: center;
    font-size: 40px;
    background-color: lightcoral;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 50px;

    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 5px solid black;

    transition: all 2s;

}

#header:hover{
    border-color: deepskyblue;
    background: yellow;
    color: rosybrown;
}

.subheader{
    text-align: center;
    padding: 10px;
    background-color: green;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 50px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border: 5px solid black;
    font-size: 20px;

    transition: all 2s;
}

.subheader:hover{
    border-color: pink;
    background: black;
    color: silver;
}

.subheader2{
    text-align: center;
    padding: 10px;
    background-color: goldenrod;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 5px;
    border: 5px solid black;
    font-size: 20px;

    transition: all 2s;
}

.subheader2:hover{
    border-color: pink;
    background: palegoldenrod;
    color: silver;
}

.input{
    text-align: center;
    margin-left: 600px;
    margin-right: 600px;
    margin-top: 20px;
    transition: all 3s;
}

.button{
    text-align: center;
    margin-left: 600px;
    margin-right: 600px;
    margin-top: 20px;
    transition: all 3s;
}