<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="landingpage.css">
</head>
<style>
    body {
        background-color: aqua;
    }
</style>
<body>
    <div id="header">Welcome to the water collector.</div>
    <div class="subheader">Please, provide the numbers, separated by a comma, that you'd like to be a part of the array.</div>
        <form action="/calculate" method="post">
            <div class="input">
            <input type="text" name="numbers" placeholder="Numbers for the array" oninvalid="alert('Please, fill out the form correctly.');" pattern="(?:\d+,)[0-9].{2,}" required>
            </div>
            <div class="button">
            <input type="submit" value="Calculate">
            </div>
        </form>
</body>
</html>