<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="waterCollector.css">
</head>
<style>
    body {
        background-color: aqua;
    }
</style>
<body>
    <div id="header">Welcome to the water collector.</div>
    <div class="subheader">This program will count how much water would fill free spaces in a given array if every number in said array would be the height of the wall and its index its position.
        </div>
    <div class="subheader2">Please, provide the numbers in adherance to below rules: <br>
        - only numbers, <br>
        - at least three of them, <br>
        - separated by a comma.
    </div>
        <form action="/calculate" method="post">
            <div class="input">
            <input type="text" name="numbers" placeholder="Numbers for the array" oninvalid="alert('Please, fill out the form correctly.');" pattern="(?:\d+,)[0-9].{2,}" required>
            </div>
            <div class="button">
            <input type="submit" value="Calculate">
            </div>
        </form>
</body>
</html>